{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for("static", filename="img/sample2.jpg") }}"></div>
</div>

<div class="section white">
	<div class="row container">
		<h4 class="header center-align teal-text text-darken-4">ITEELEC1</h4>
		<h2 class="header center-align teal-text text-darken-4">ICT TRENDS:</h2>
		<h2 class="header center-align teal-text text-darken-4">Robotics Process Automation</h2>
	</div>
</div>

<div class="section white">
	<div class="row container">
		<h3 class="header center-align teal-text text-darken-4">Speakers</h3>
	</div>
</div>


<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for("static", filename="img/sample1.jpg") }}"></div>
</div>

<div class="section white">
	<div class="row container">
		<h3 class="header teal-text text-darken-4">Romiazon Salazar</h3>
		<p class="grey-text text-darken-3 lighten-3">
			She is currently an Applications Development Team Lead in Accenture and was recently recognized as one of Accenture's Techstar batch 2018. Also part of Accenture's 2017 Gantimpala Awardees (Likha award) and formerly ACM's Vice President.
		</p>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for("static", filename="img/sample1.jpg") }}"></div>
</div>


<div class="section white">
	<div class="row container">
		<h2 class="header teal-text text-darken-4">Sofia Ang</h2>
		<p class="grey-text text-darken-3 lighten-3">
			Aliquam tincidunt diam consectetur erat dignissim varius vel sed est. Sed mollis mauris in sem fermentum, vitae porta leo commodo. Etiam sed auctor dui, nec malesuada nulla. Morbi sodales orci sed sem efficitur faucibus. Pellentesque sit amet ullamcorper nisl, sed pretium ante. Sed vestibulum ullamcorper velit, a malesuada est placerat vel. Phasellus massa lectus, sollicitudin eu tortor non, aliquet semper purus. Maecenas scelerisque condimentum magna et porttitor. Donec mattis erat lacinia odio dapibus eleifend. Cras ornare, dui ut pulvinar ultrices, erat leo pharetra libero, a ullamcorper nisl felis ut neque. Proin porttitor velit a risus ultrices, vitae lobortis mi congue. Vivamus non consectetur quam. Quisque efficitur turpis vitae fermentum rutrum. Quisque sed eleifend quam. Cras vitae laoreet urna.
		</p>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for("static", filename="img/sample2.jpg") }}"></div>
</div>

<div class="section white">
	<div class="row container">
		<h2 class="header center-align teal-text text-darken-4">Program Flow</h2>
		<p class="flow-text grey-text text-darken-3 lighten-3">
			    8:00 AM - 8:15 AM: Registration<br/>
			    8:15 AM - 8:20 AM: Opening Prayer<br/>
			    8:20 AM - 8:25 AM: National Anthem<br/>
			    8:25 AM - 8:30 AM: Opening Remarks<br/>
			    8:30 AM - 8:35 AM: Intruction of first speaker<br/>
			    8:35 AM - 9:15 AM: Talk of first speaker + Q&A<br/>
			    9:15 AM - 9:30 AM: Q & A | Awarding of certificate<br/>
			    9:30 AM - 9:35 AM: Introduction of second speaker<br/>
			    9:35 AM - 10:15 AM: Talk of second speaker<br/>
			    10:15 AM - 10:20 AM: Q & A | Awarding of certificate<br/>
			    10:20 AM - 10:25 AM: Seminar Post Evaluation<br/>
			    10:25 AM - 10:30 AM: Closing Remarks<br/>
		</p>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for("static", filename="img/sample2.jpg") }}"></div>
</div>

<div class="section white">
	<div class="row container">
		<h2 class="header center-align teal-text text-darken-4">When and Where</h2>

		<div id="map" style="width:100%;height:400px;"></div>

		<p class="flow-text grey-text text-darken-3 lighten-3">
			FEU - INSTITUTE OF TECHNOLOGY<br>
			P. Paredes, Sampaloc, Manila, Metro Manila<br>
			8th Floor, FEU TECH Executive lounge<br>
			June 2, 2018<br>
			8:00 AM - 10:30 AM
		</p>
	</div>
</div>

<div class="section white">
	<div class="row container">
		<h2 class="header center-align teal-text text-darken-4">Slots are limited. Registration is free.</h2>
		<center><a class="waves-effect waves-light btn-large teal darken-1" href="/register">Register Here</a></center>
	</div>
</div>

<div class="section white">
	<div class="row container">
		
	</div>
</div>

<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        
      </div>
      <div class="col l4 offset-l2 s12">
        
      </div>
    </div>
  </div>
  <div class="footer-copyright teal darken-4">
    <div class="container">
    © 2018 ITEELEC1 ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
{% endblock %}

{% block scripts %}

<script>
	
	$(document).ready(function(){
	    $('.parallax').parallax();
	  });


	function myMap() {
		var mapCanvas = document.getElementById("map");
	    var mapOptions = {
	        center: new google.maps.LatLng(14.6044439,120.9885878),
	        zoom: 18,
	        mapTypeId: google.maps.MapTypeId.ROADMAP

	    }
		var map = new google.maps.Map(mapCanvas, mapOptions);
		var marker1 = new google.maps.Marker({
	        position: new google.maps.LatLng(14.6044439,120.9885878),
	        map: map
	    });

	    var infowindow1 = new google.maps.InfoWindow({
	        content:  createInfo('FEU- Institute of Technology'),
	        position: new google.maps.LatLng(14.6044439,120.9885878)
	    });

	    // Create information window
	    function createInfo(title) {
	        return '<div class="infowindow"><strong>'+ title +'</strong></div>';
	    }
	}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhm4LRL9Hod61tNwYifzK3TH6EC-07A_U&callback=myMap"></script>
{% endblock %}